<!DOCTYPE html>
<html>
	<head>
		<title>Beauty Box India | {% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet" type="text/css" />
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6"></div>
				<div class="col-md-2">Beauty profile</div>
				<div class="col-md-2">Subscribe</div>
				<div class="col-md-2">Logout</div>
			</div>
		</div>
		{% block content %}
		{% endblock %}
	</body>
</html>
				

